{% extends 'pattern/base.html' %}
{% load static %}
{% block includes_top %}
    <!-- Bootstrap Core CSS -->
    <link href="{% static "css/login/login.css" %}" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock %}
{% block title %}Login{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-offset-6 col-md-3">
                <form method="post">
                    {% csrf_token %}
                    <div class="form-login">
                        <h4>Bem vindo</h4>
                        <input type="text" id="id_username" class="form-control input-sm chat-input" maxlength="254" name="username" placeholder="username" />
                        </br>
                        <input type="password" id="id_password" class="form-control input-sm chat-input"  name="password" placeholder="password" />
                        </br>
                        <div class="wrapper">
                            <button class="btn btn-primary btn-md" type="submit">Login <i class="fa fa-sign-in"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}