{% extends 'pattern/base.html' %}
{% load static %}
{% block includes_top %}
    {% load notifications_tags %}
    <script src="{% static 'notifications/notify.js' %}" type="text/javascript"></script>
    <script src="{% static "js/notificacoes.js" %}"></script>
    {% register_notify_callbacks fetch="10" refresh_period="60" callbacks='fill_notification_list,fill_notification_badge,my_special_notification_callback' %}
{% endblock %}
{% block title %}Notificações{% endblock %}
{% block content %}
{#    {% live_notify_list classes="list-group"%}#}
        {% csrf_token %}
    <div class="col-md-12" id="notificacoes">
    </div>
{% endblock %}
{% block include_footer %}
{% endblock %}