.header {
    color: #36A0FF;
    font-size: 27px;
    padding: 10px;
}

.bigicon {
    font-size: 35px;
    color: #36A0FF;
}

.fa-exclamation-circle{
    color: #D92027;
}

.fa-check-circle{
    color: #377609;
}

textarea {
    resize: vertical;
}



input[type=radio]:not(old):checked {
  display          : block;

  border           : 0.0625em solid rgb(115,153,77);
  border-radius    : 0.125em;
  background       : rgb(153,204,102);
}