.notes {
    background-color: yellow;
    color: black;
    padding: 20px;
    display: none;
}

ul {
    list-style-type: none;
}

li {
    list-style-type: none;
}

.task{
    border: solid;
    background-color: #2aabd2;
}