a:link
{
    text-decoration: none;
}
.label{
    color: #0f0f0f;
}

.blink_me{
    color: #ffff00;
}

.thumbnail {
    height: 300px;
}

.thumbnail  a>img, .thumbnail img
{
    max-height:100%;
    max-width:100%;
}

h4 {
    text-align: center;
}

.badge {
    background-color: #d43f3a;
    color: #985f0d;
}

.thumbnail {
    height: 270px;
}
.page-header {
    margin-top: 10px;
}