{% extends 'pattern/base.html' %}
{% load static %}
{% block includes_top %}<link rel="stylesheet" href="{% static "css/ideias.css" %}" >{% endblock %}
{% block title %}Ideias{% endblock %}

{% block content %}
    <div class="container">
        <div clas="row">
            <div class="col-md-12">
                <div class="well well-sm">
                    <form class="form-horizontal" action="/sgidi/ideias/postIdeia/" method="post">
                        {% csrf_token %}
                        {% if form.errors %}
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <div class="alert alert-danger">
                                        <strong>{{ error|escape }}</strong>
                                    </div>
                                {% endfor %}
                            {% endfor %}
                            {% for error in form.non_field_errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endif %}
                        <fieldset>
                            <legend class="text-center header">Registo de ideias</legend>

                            <div class="form-group">
                                <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                                <div class="col-md-1">
                                    <input id="sigla" name="name" type="text" class="form-control" placeholder="{{ user.username }}"disabled>
                                </div>
                            </div>
                            {#                            TODO VERIFICAR OS ATRIBUTOS DE CADA TAG#}
                            <div class="form-group">
                                <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-lightbulb-o bigicon" ></i></span>
                                <div class="col-md-8">
                                    <input id="nome_ideia" name="nome" type="text" maxlength="100" class="form-control" placeholder="Dê um nome à sua ideia" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-pencil-square-o bigicon" ></i></span>
                                <div class="col-md-8">
                                    <label class="radio-inline"><input type="radio" aria-label="tipo de ideias" name="tipo" value="0"checked>Novo produto</label>
                                </div>
                                <div class="col-md-8">
                                    <label class="radio-inline"><input type="radio" aria-label="tipo de ideias" name="tipo" value="1">Novo processo</label>
                                </div>
                                <div class="col-md-8 col-md-offset-3">
                                    <label class="radio-inline"><input type="radio" aria-label="tipo de ideias" name="tipo" value="2">Melhoria de produto existente</label>
                                </div>
                                <div class="col-md-8 col-md-offset-3">
                                    <label class="radio-inline"><input type="radio" aria-label="tipo de ideias" name="tipo" value="3">Melhoria de processo existente</label>
                                </div>
                                <div class="col-md-8 col-md-offset-3">
                                    <label class="radio-inline"><input type="radio" id="radio_outra" aria-label="tipo de ideias" name="tipo" value="4"> Outra: <input id="radio_outra_text" type="text" name="outra_text" maxlength="100" disabled> </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-exclamation-circle bigicon"></i></span>
                                <div class="col-md-8">
                                    <label for="problema">Descrição do problema</label>
                                    <textarea class="form-control" rows="5" maxlength="1600" name="problema" id="problema" placeholder="Exemplos: Falta de eficácia do sistema de gestão de stock; Furto de viaturas." required></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-check-circle bigicon"></i></span>
                                <div class="col-md-8">
                                    <label for="solucao">Descrição da solução</label>
                                    <textarea class="form-control" rows="5" maxlength="1600" name="solucao" id="solucao" placeholder="Faça uma descrição de modo a perceber como a ideia pode ser aplicada e qual o seu funcionamento."required></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-8 text-center">
                                    <button type="submit" class="btn btn-primary">Enviar Ideia</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block include_footer %}<script src="{% static "js/ideias.js" %}"></script>{% endblock %}