{% extends 'pattern/base.html' %}
{% load static %}
{% block title %}Ideias{% endblock %}

{% block content %}
    <div class="container">
        <div clas="row">
            <div class="col-md-12">
                <div class="well">
                    <form class="form-horizontal" method="post">
                        <fieldset>
                            <legend class="text-center header">Criação de ideias</legend>
                            <div class="form-group">
                                <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                                <div class="col-md-8">
                                    <input id="fname" name="name" type="text" placeholder="First Name" class="form-control">
                                </div>
                            </div>
                            <div class="input-group">
                                <div class="row"><span class="label" >Proponente</span></div>
                                <span class="input-group-addon" >Sigla</span>
                                <input type="text" class="form-control" placeholder="{{ user.username }}"disabled>
                            </div>
                            <div class="input-group">
                                <div class="row"><label>Nome da ideia</label></div>
                                <span class="input-group-addon" >Nome da ideia</span>
                                <input type="text" class="form-control" >
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}