{% extends 'pattern/base.html' %}
{% load static %}
{% block title %}SGIDI{% endblock %}
{% block h1 %} SGIDI {% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <a href="{% url "ideias_lista" %}" >
                        <img src="{% static "img/ideia.jpg" %}" class="img-thumbnail" alt="Gestão de Ideias" height="400px">
                        <div class="caption">
                            <h4>Gestão de Ideias</h4>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <a href="{% url "projetos" %}" >
                        <img src="{% static "img/projeto.jpg" %}" class="img-thumbnail" alt="Gestão de Projetos" >
                        <div class="caption">
                            <h4>Gestão de Projetos</h4>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <a href="{% url "conhecimento_lista" %}" >
                        <img src="{% static "img/conhecimento.jpg" %}" class="img-thumbnail" alt="Gestão de Conhecimento" >
                        <div class="caption">
                            <h4>Partilha de Conhecimento</h4>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <a href="{% url "interfaces" %}" >
                        <img src="{% static "img/interfaces.PNG" %}" class="img-thumbnail" alt="Interfaces" >
                        <div class="caption">
                            <h4>Gestão das Interfaces</h4>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <a href="{% url 'objetivos' %}" >
                        <img src="{% static "img/objetivos.jpg" %}" class="img-thumbnail" alt="Objetivos" >
                        <div class="caption">
                            <h4>Objetivos</h4>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <a href="{% url 'nao_conformidades' %}" >
                        <img src="{% static "img/nao_conformidades.jpg" %}" class="img-thumbnail" alt="Não Conformidades" >
                        <div class="caption">
                            <h4>Não Conformidades</h4>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}



