{% extends 'pattern/base.html' %}
{% load static %}
{% block includes_top %}
    <script src="{% static "js/gantt/codebase/dhtmlxgantt.js" %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static "js/gantt/codebase/ext/dhtmlxgantt_tooltip.js" %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static "js/gantt/codebase/ext/dhtmlxgantt_marker.js" %}" type="text/javascript" charset="utf-8"></script>
    {#    <link rel="stylesheet" href="{% static "js/gantt/codebase/skins/dhtmlxgantt_broadway.css" %}" type="text/css" media="screen" title="no title" charset="utf-8">#}
    <link rel="stylesheet" href="{% static "js/gantt/codebase/dhtmlxgantt.css" %}" type="text/css" media="screen" title="no title" charset="utf-8">
    <script src="{% static "js/gantt/codebase/locale/locale_pt.js" %}" charset="utf-8"></script>
    <link rel="stylesheet" href="{% static "css/projetos.css" %}" >
    <script type="text/javascript" src="{% static "js/gantt/testdata.js"%}"></script>
{% endblock %}
{% block title %}Projetos{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 text-center class_title">
                <div class="panel panel-default">
                    <div class="panel-body">
                        Projetos
                    </div>
                </div>
                <div class="list-group" id="listaProjetos">
                    {% for p in projects %}
                        <a id="{{ p.id }}" class="list-group-item {% if forloop.first %}active{% endif %}">{{ p.name }}</a>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-10 text-center class_title">
                <nav class="navbar navbar_projetos">
                    <ul class="nav navbar-nav">
                        <li class="projetos active" id="informacao"><a>Informação do projeto</a></li>
                        <li class="projetos" id="li_tarefas"><a >Tarefas</a></li>
                        <li class="projetos" id="li_gantt"><a>Diagrama de Gantt</a></li>
                    </ul>
                </nav>
                <div class="row">
                    <div class="col-md-12">
                        <div class="well well">
                            {#                            <div class="loader"></div>#}
                            {#                            <dl class="dl-horizontal disabledElement">#}
                            <dl class="dl-horizontal">
                                <dt>Nome do Projeto:</dt>
                                <dd class="nome"></dd>
                                <dt>Tipo do Projeto:</dt>
                                <dd class="tipo"></dd>
                                <dt>Estado:</dt>
                                <dd class="estado"></dd>
                                <dt>Responsável:</dt>
                                <dd class="responsavel"></dd>
                                <dt>Data Criação:</dt>
                                <dd class="data_criacao"></dd>
                                <dt>Data Modificação:</dt>
                                <dd class="data_modificacao"></dd>
                                <dt>Seguidores:</dt>
                                <dd class="seguidores"></dd>
                            </dl>
                            <div class="panel-body">
                                <ul class="list-group seccoes">

                                </ul>

                            </div>
                            <div class="diagrama_button" style="text-align: center;height: 40px;line-height: 40px;">
                                <button id="diagrama_button_id" style="height: 34px;line-height: 30px;margin:3px auto">Zoom to Fit</button>
                            </div>
                            <div id="diagrama_gantt" style='width:1200px; height:400px;'></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block include_footer %}
    <script src="{% static "js/asana-min.js" %}"></script>
    <script src="{% static "js/projetos.js" %}"></script>
{% endblock %}
